version: '3.9'
services:
    sqldata:
        image: mcr.microsoft.com/mssql/server:2017-latest
        environment:
            - SA_PASSWORD=Pass@word
            - ACCEPT_EULA=Y
        ports:
            - "5434:1433"
        networks: 
            - front-networks
    
    
    appdjango:
        build:
            context: .
            dockerfile: docker/Dockerfile
        command: python3 manage.py runserver 0.0.0.0:8000
        depends_on: 
            - sqldata
        ports:
            - "8080:8000"

        networks: 
            - front-networks

    reactapp:
        build:
            context: .
            dockerfile: dockerReact/Dockerfile
        ports:
            - 3030:3000
        networks: 
            - front-networks


networks: 
    front-networks:
        driver: bridge
